<div class="service-intro-wrapper">
  <h1>Game Quipe<br>ユーザー参加型ゲーム検索サービス</h1>
  <h3>検索機能</h3>
  <h4>様々な検索スタイル</h4>
  <p>ゲームタイトル、ジャンル、タグなどで遊びたいゲームを検索することが出来ます。</p>
  <h4>ストック・お気に入り機能</h4>
  <p>ゲームはそれぞれストックとお気に入りに登録することが出来ます。</p>
  <p>ストック機能では、購入予定のゲームや気になるゲームを登録することで、ゲームのリストを作成して確認したり、発売日の通知を受け取ることが出来ます。またゲームのストック数は他ユーザー同士で共有しているので、どのゲームがどれだけ注目されているのか分かるようになります。</p>
  <p>お気に入り機能では、購入して面白いと思ったゲームを登録することで、自分のお気に入りのゲームのリストを作成して確認したり、またゲームのお気に入り数も他ユーザー同士で共有しているので、どのゲームがどれだけ評価されているのか分かるようになります。</p>
  <h4>タグ機能、ゲームデータ編集機能</h4>
  <p>タグ機能で、</p>
  <h3>スケジュール機能</h3>
  <h4>発売日の確認</h4>
  <p>ゲームの発売日を確認することが出来ます。月毎に一覧表示され、過去のゲームの発売日も確認出来ます。</p>
  <h4>通知機能</h4>
  <p>発売予定のゲームをストックすることで、発売前に通知を受け取ることが出来ます。</p>
  <h3>おすすめ機能</h3>
  <h4>おすすめ投稿</h4>
  <h3>データベース機能</h3>
  <h4>アクティブなデータ</h4>
</div>
