<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-12">
    <h1 class="line-on-sides">投稿記事の編集</h1>

    <%= render 'form', path: recommend_path(@recommend), method: :put %>

    <% if current_user.id == @recommend.user_id %>
      <%= link_to '削除する', recommend_path, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn-danger' %><br />
    <% end %>

    <%= link_to '詳細', recommend_path, method: :get %> |
    <%= link_to '戻る', recommends_path %>
  </div>
</div>
