<%= form_for(@game) do |f| %>
    <div class="field">
        <%= f.label :タグ %><br>
        <ul id="game-tags"></ul>
    </div>
  
    
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>