<div class="intro_wrapper">
    <div class="intro_left_wrapper">
        <h2>あらすじ</h2>
        <p>王国ルシスと帝国ニフルハイムとの間で長きに渡って続いた戦争が終わろうとしていた。停戦協定の調印式を数日後に控えたルシス王子ノクティスはその和平の証として帝国属州テネブラエの令嬢ルナフレーナと結婚式を執り行うために3人の友人と共に王都を発った。しかし調印式当日、ニフルハイムはルシスを裏切り王都を襲撃する。ラジオの報道は、ルシスの象徴たるクリスタルが帝国の管理下に置かれたこと、父である国王レギス、ルナフレーナ、そしてノクティス自身の訃報をひっきりなしに伝えていた。故郷の平和は一瞬にして崩れ去り、ノクティスには友人達と父の愛車だけが残された・・・</p>
    </div>
    <div class="intro_right_wrapper">
        <%= image_tag("FinalFantasy15_01.png", :size => "380x200")  %>
        <%= image_tag("FinalFantasy15_02.png", :size => "380x200")  %>
        <%= image_tag("FinalFantasy15_03.png", :size => "380x200")  %>
        <iframe width="380" height="200" src="https://www.youtube.com/embed/4GZL9iLwDFk" frameborder="0" allowfullscreen></iframe>
    </div>
</div>