<div class="software_basic_wrapper">
    <div class="software_img">
    </div>
    <div class="software_basic">
        <ul>
            <li><%= @game.title %></li>
            <li><%= @game.maker %></li>
            <li><%= @game.maker_genre %></li>
            <li><%= @game.released_date %></li>
        </ul>
    </div>
</div>