body {
    margin: 0;
    background-color: #e5d2b5;
}

header {
    background-color: #3C3C3C;
    width: 100%;
    height: 100px;
    text-align: center;
}

header a {
    color: white;
    line-height: 100px;
    font-size: 50px;
    margin: 0;
    text-decoration: none;

}

nav {
    background-color: #3c3c3c;
    width: 100%;
    height: 50px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    text-align: center;
    line-height: 50px;
    width: calc(100% / 3);
}

nav li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
}

nav li a:hover {
    background-color: #6d6d6d;
}

dl.searchbox{
    width: 75%;
    position:relative;
    background-color:#464646;
    border:1px solid #aaa;
    border-radius:20px;
    margin: 20px auto;
}
dl.searchbox dt{
    padding:3px;
}
dl.searchbox dt input{
    width:95%;
    height:30px;
    line-height:30px;
    padding-left:10px;
    background:none;
    border:none;
    color: #efefef;
}
dl.searchbox dd{
    position:absolute;
    top:1px;
    right:1px;
}
.search-btn{
    display:block;
    background:#767676;
    width:36px;
    height:36px;
    line-height:36px;
    border:none;
    border-radius: 100px;
    color:#FFF;
    float: right;
}

.search-btn:hover {
    cursor: pointer;
}

footer {
    width: 100%;
    height: 60px;
    color: white;
    background-color: #3C3C3C;
    margin: auto;
    padding: 10px;
    bottom: 0;
    font-size: 12px;
    text-align: center;
}
