// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lines-on-sides {
  display: table;
  text-align: center;
  white-space: nowrap;

  &:after,
  &:before {
    content: '';
    display: table-cell;
    width: 50%;
    background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 2px), transparent calc(50% + 2px));
    background-clip: padding;
  }

  &:after {
    border-left: 1em solid transparent;
  }

  &:before {
    border-right: 1em solid transparent;
  }
}


h2 {
  @extend .lines-on-sides;
  color: white;
  margin-bottom: 30px;
}

.search_option {
  width: 100%;
  height: 30px;
}

// sort-btn
.fillter-label{
  float: right;
  margin-right: 10px;
}

.fillter-label a {
  background-color: #2e2e2e;
  text-decoration: none;
  color: white;
  padding: 5px;
}

// index
.searchbox_wrapper {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0  auto;
  padding: 0;
}

.software_wrapper {
  width: 100%;
  height: 161px;
  min-width: 420px;
  margin: 10px auto;
  background-color: rgba(255,255,255,0.3);
  position:relative;
}

.software_wrapper a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition: 0.2s;
  color: black;
}

.software_wrapper a:hover {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.searchbox_img {
  float: left;
  margin: 0;
}

.software_basic p {
  background-color: rgba(0,0,0,0.3);
  border-left: 5px solid #87A8E9;
  margin: 10px 0 5px;
  padding: 3px 20px;
}

.software_basic ul {
  float: right;
  text-align: right;
  width: 60%;
  padding-right: 10px;
  margin-top: 10px;
}

.software_basic li {
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//ゲームタグ機能
#game-tags {
  background-color: rgba(255,255,255,0.3);
  border-style: none;
}

.tag-field {
  color: #686868;
}

.label {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  color: white;
  padding: 10px;
}

.tag_wrapper {
  display: block;
  width: 100%;
  height: 80px;
}

.tag_wrapper ul {
  float: right;
  text-align: right;
  width: 100%;
  padding-right: 10px;
}

.tag_wrapper li {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
}

.tag_wrapper a {
  text-decoration: none;
  background-color: rgba(255,255,255,0.3);
  color: white;
  padding: 6px;
  display: inline-block;
  margin-top: 5px;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.tag_wrapper a:hover {
  background-color: rgba(255,255,255,0.5);
}

//　ゲームShowページ
.software_detail_wrapper {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  min-width: 420px;
  margin: 5px auto 20px;
  padding: 10px;
}

.detail_label {
  width: 30%;
  background-color: #D04848;
  color: black;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
}

.show-label {
  background-color: rgba(0,0,0,0.6);
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.basic_card {
  display: inline-block;
  width: 100%;
}

.basic_card ul {
  float: right;
  text-align: right;
  width: 50%;
  padding-right: 10px;
}

.basic_card li {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  white-space: wrap;
}

.software_img {
  border-radius: 10px;
  margin-top: 20px;
}

// ゲームのソーシャル欄
.social-wrapper {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  min-width: 420px;
  margin: 5px auto 20px;
  padding: 10px;
}

.social-wrapper form {
  display: inline-block;
}

.stock-button {
  background: none;
  border-style: none;
}

//ゲーム詳細
.detail_card {
  display: inline-block;
  width: 100%;
}

.detail_card ul {
  padding: 0;
  width: 100%;
  float: left;
}

.detail_card li {
  list-style: none;
  margin: 10px;
}

.detail_card a {
  background-color: rgba(0,0,0,0.3);
  font-size: 15px;
  padding: 5px;
  display: block;
  transition: 0.3s;
}

.other-data {
  background-color: rgba(0,0,0,0.3);
  font-size: 15px;
  padding: 5px;
  display: block;
  color: #428bca;
}

.game-detail-bottom {
  width: 100%;
  margin: 0 auto;
}

.twitter_wrapper {
  width: 70%;
  margin: 0 15%;
}

.recommend-game-wrapper {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
}

.recommend-game-wrapper h3 {
  margin: 10px 0;
}

.recommend-count {
  margin: 0;
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  border-left: 3px solid lime;
  color: white;
  width: 30%;
  font-weight: bold;
}

.recommend-game-wrapper a {
  margin: 5px 0;
}

.btn-recommend-game {
  background-color: rgba(0,0,0,0.3);
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  transition: 0.3s;
}

.btn-recommend-game:hover {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  margin: 10px auto;
  color: white;
}

//ゲームの紹介 render
.software_introduce_wrapper {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  min-width: 420px;
  margin: 5px auto 20px;
  padding: 10px;
  clear: left;
}

.intro_wrapper {
  color: white;
}

.intro_right_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

//ゲームランダム表示
.random_software_wrapper {
  width: 90%;
  height: 200px;
  min-width: 420px;
  margin: 20px auto;
  background-color: rgba(0,0,0,0.3);
  position:relative;
}

.random_software_wrapper a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition: 0.2s;
}

.random_software_wrapper a:hover {
  background-color: black;
  opacity: 0.2;
  filter: blur(1px);
}

.random-basic {
  font-size: 15px;
}

.random-basic ul {
  float: right;
  text-align: right;
  width: 60%;
  padding-right: 10px;
  margin-top: 10px;
}

.random-basic li {
  list-style: none;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// スケジュール
.schedule-wrapper {
  // background-color: rgba(0,0,0,0.6);
  padding: 10px;
  margin-bottom: 20px;
}

.schedule-wrapper ul {
  margin: 0;
  padding: 0;
}

.schedule-game-box {
  // background-color: rgba(255,255,255,0.2);
  background-color: rgba(0,0,0,0.3);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  transition: 0.3s;
}

.schedule-game-box:hover {
  // background-color: rgba(255,255,255,0.3);
  background-color: rgba(0,0,0,0.5);
}

.schedule-game-box a {
  text-decoration: none;
  color: white;
  display: block;
}

.schedule-wrapper li {
  list-style: none;
  float: left;
}

.schedule-title {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#date_year, #date_month {
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
}

.schedule-add-btn {
  display: inline-block;
  float: right;
  margin-left: 10px;
}

.add-btn {
  position: relative;
  left: -11px;
  top: 13px;
  text-align: center;
  line-height: 15px;
  color: white;
  background-color: rgba(255,0,0,0.5);
  width: 15px;
  height: 15px;
  border-radius: 10px;
  transition: 0.5s;
}

.add-btn:hover {
  position: relative;
  top: -5px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 30px;
  background-color: rgba(118,171,255,0.7);
}

// データベース機能
.my-data-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.my-stock-box {
  width: 48%;
  background-color: rgba(0,0,0,0.6);
}

.my-favorite-box {
  width: 48%;
  background-color: rgba(0,0,0,0.6);
}
