// Place all the styles related to the Recommends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:hover {
  color: white;
  text-decoration: none;
}

.lines-on-sides {
    display: table;
    text-align: center;
    white-space: nowrap;

    &:after,
    &:before {
        content: '';
        display: table-cell;
        width: 50%;
        background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 2px), transparent calc(50% + 2px));
        background-clip: padding;
    }

    &:after {
        border-left: 1em solid transparent;
    }

    &:before {
        border-right: 1em solid transparent;
    }
}

h1 {
  @extend .lines-on-sides;
  color: #686868;
  margin-bottom: 30px;
}

// index
.recommend-wrapper {
  background-color: rgba(255,255,255,0.4);
  border-radius: 10px;
  padding-bottom: 7px;
  margin: 10px auto;
}

.recommend-box {
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  color: white;
  margin: 0 10px;
  transition: 0.3s;
}

.recommend-box:hover {
  background-color: rgba(0,0,0,0.7);
}

.recommend-wrapper ul {
  margin: 5px;
  padding: 5px;
}

.recommend-wrapper li {
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  margin: 0;
  display: inline-block;
}

.recommend-new {
  border-left: 5px solid #4A86E8;
  background-color: rgba(0,0,0,0.6);
  padding: 5px 40px 5px 10px;
  margin: 30px 0 10px;
}

.recommend-like {
  border-left: 5px solid #FFFF0A;
  background-color: rgba(0,0,0,0.6);
  padding: 5px 40px 5px 10px;
  margin: 30px 0 10px;
}

.recommend-post {
  border-left: 5px solid #FF9900;
  background-color: rgba(0,0,0,0.6);
  padding: 5px 40px 5px 10px;
  margin: 30px 0 10px;
}

.btn-recommend {
  background-color: rgba(255,255,255,0.4);
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 20px;
  color: #686868;
  transition: 0.3s;
}

.btn-recommend:hover {
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
  margin: 10px auto;
  color: #686868;
}

.objectopen {
	margin: 0 auto;
}
.objectopen input {
	display: none;
}
.objectopen label {
  background-color: rgba(0,0,0,0.4);
	color: white;
	cursor: pointer;
	padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
.objectopen label:hover {
  background-color: rgba(0,0,0,0.6);
}
.objectopen {
	padding: 0;
}
.objectopen .oo-cont2 {
	transition: 0.2s;
	height: 0;
	overflow: hidden;
	padding: 0 10px;
  color: #686868;
}
.objectopen input:checked + .oo-cont2 {
	height: auto;
	padding: 10px;
}

// show
.recommend-title {
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  padding: 10px;
  width: 100%;
  height: auto;
}

.recommend-user {
  color: #686868;
  margin-top: 5px;
  font-size: large;
}

.recommend-content {
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
}

.recommend-social {
  background-color: rgba(0,0,0,0.7);
  margin: 5px 0;
  padding: 5px;
}

.sns-btn {
  float: right;
  margin-left: 5px;
}

.recommend-link {
  background-color: rgba(0,0,0,0.7);
  margin: 5px 0 10px;
  padding: 5px;
}

.recommend-link a {
  background-color: rgba(0,0,0,0.3);
  text-decoration: none;
  font-size: large;
  display: block;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

.recommend-link a:hover {
  background-color: white;
  color: black;
}

.action-btn {
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: large;
  border-style: none;
}

.action-btn:hover {
  background-color: rgba(0,0,0,0.7);
}

// form
.form-control {
  background-color: rgba(255,255,255,0.4);
}

.form-label {
  background-color: rgba(0,0,0,0.6);
  padding: 5px;
  margin-top: 10px;
  width: 100%;
}

.game-add-btn {
  display: inline-block;
  background-color: rgba(255,255,255,0.6);
  color: black;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.game-add-btn:hover {
  color: black;
  background-color: rgba(255,255,255,0.8);
}

.delete-btn {
  display: inline-block;
  background-color: rgba(255,0,0,0.4);
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
  border-style: none;
}

.delete-btn:hover {
  background-color: rgba(255,0,0,0.6);
}
