#select_genre {
    width: 80%;
    max-width: 850px;
    min-width: 400px;
    margin: 0 auto;
}

#select_genre h1 {
    width: 300px;
    font-size: 60px;
    text-align: center;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    color: white;
    opacity: 0.8;
    letter-spacing: 5px;
    margin: 10px auto;
    padding: 5px 0;
}

#select_genre ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#select_genre li {
    list-style: none;
    margin: 10px;
}

.btn {
    width: 230px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(48,48,48,0.8);
    color: white;
    font-size: 30px;
    border-style: none;
    text-transform: uppercase;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(48,48,48,1.0);
    color:white;
    outline: none;
}

//タグクラウド
.css1 { font-size: 30px; }
.css2 { font-size: 30px; }
.css3 { font-size: 30px; }
.css4 { font-size: 30px; }

.tagcloud-wrapper {
    width: 80%;
    max-width: 850px;
    min-width: 400px;
    margin: 0 auto;
}

.tagcloud-wrapper h1 {
    text-align: center;
    width: 400px;
    font-size: 60px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    color: white;
    opacity: 0.8;
    letter-spacing: 5px;
    margin: 30px auto;
    padding: 5px 0;
}

.tagcloud-wrapper a {
    text-decoration: none;
    color: white;
    background-color: rgba(48,48,48,0.8);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.5s;
}

.tagcloud-wrapper a:hover {
  background-color: rgba(48,48,48,1.0);
    color:white;
}
